.container {
  width: 100%;
}

.input {
  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }

  &.borderFeedback {
    border-width: 2px;

    &:focus {
      box-shadow: none;
    }
  }
}

.feedback {
  height: 16px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .text {
    margin: 0;
    font-size: 13px;
    min-height: 16px;
  }

  .loader {
    width: 25px;
    aspect-ratio: 4;
    background:
      radial-gradient(circle closest-side, #d2d6dd 90%, transparent) 0 50%,
      radial-gradient(circle closest-side, #d2d6dd 90%, transparent) 50% 50%,
      radial-gradient(circle closest-side, #d2d6dd 90%, transparent) 100% 50%;
    background-size: calc(100% / 3) 100%;
    background-repeat: no-repeat;
    animation: dots 1s infinite linear;
  }
}
@keyframes dots {
  0% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  100% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}
