html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  user-select: none;
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
  overflow: hidden;
  user-select: none;
  background: transparent;
  app-region: drag;
  -webkit-app-region: drag;
}
